.form-common__input-error {
  font-size: 8px;
  font-weight: 500;
  color: var(--color-ui-warning);
  padding: 8px 0;
  visibility: hidden;
  position: absolute;
  top: 37px;
}

.form-common__input-error--visible {
  visibility: visible;
}

.form-common__input-error--settings-error {
  top: 30px;
}
