<div class="dropdown-menu">
  {{{modalAddUserToChat}}}

  <ul class="dropdown-menu__items">
    {{#each dropdownMenuButtons}}
      <li class="dropdown-menu__item">
        {{{this}}}
      </li>
    {{/each}}
  </ul>
</div>
