
<div class="form-container">
  <h1 class="form-title form-title_margin-large">{{this.label}}</h1>

{{!-- <button type="{{ type }}">{{ label }}</button> --}}


  <form
    class="form-common"
    action=""
    method="post"
  > 
      {{!-- {{> @partial-block}} --}}
  </form>
</div>
