<div class="form-container">
  <h1 class="form-title form-title_margin-large">{{title}}</h1>

  <form
    class="form-common"
    action=""
    method="post"
  > 
      {{> @partial-block}}
  </form>
</div>