<div class="chat-container">
  <aside class="chat-sidebar">
    <div class="link-profile">
      {{LinkCommon "Профиль" href="/pages/profile/profile.html" class="link-profile"}}

      <img class="link-profile__icon" src="/icons/icon-chevron.svg" alt="">
    </div>
    chats items
  </aside>

  <div class="chat-body">
    chat body
  </div>
</div>