<div class="chat-container">
  <aside class="chat-sidebar">
    {{> Chat/components/LinkProfile/LinkProfile }}
    {{> Chat/components/SearchInput/SearchInput }}
      chats items
  </aside>

  <div class="chat-body">
    chat body
  </div>
</div>