<div class="chat-container">
  <aside class="chat-sidebar">
    <div class="chat-link-profile">
      {{> Chat/components/LinkProfile/LinkProfile }}
    </div>
    
    {{> Chat/components/SearchInput/SearchInput }}
    
    <ul class="chat-list">
     {{> Chat/components/ChatListItem/ChatListItem}}
     {{> Chat/components/ChatListItem/ChatListItem}}
     {{> Chat/components/ChatListItem/ChatListItem}}
     {{> Chat/components/ChatListItem/ChatListItem isActive=true}} 
     {{> Chat/components/ChatListItem/ChatListItem}} 
     {{> Chat/components/ChatListItem/ChatListItem}} 
     {{> Chat/components/ChatListItem/ChatListItem}}    
    </ul>
  </aside>

  <div class="chat-body">
    chat body
  </div>
</div>