.chat-container {
  display: flex;
  height: 100%;
}

.chat-sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px;
  min-width: 300px;
  background: var(--color-ui-chat-sidebar-bg);
}

.chat-link-profile {
  align-self: flex-end;
  margin: 16px 0 24px;
}
