<div class="chat-container">
  <aside class="chat-sidebar">
   {{> Chat/LinkProfile/LinkProfile }}
  {{!-- <div class="">
  <input type="search" autocomplete="off" class="" id="search" name="search" placeholder="Поиск">
  <label class="search__icon" for="search">
</div> --}}
    chats items
  </aside>

  <div class="chat-body">
    chat body
  </div>
</div>