.form-container {
  max-width: 340px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  padding: 32px;
  margin: 128px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-primary);
}

.form-title_margin-large {
  margin-bottom: 40px;
}

.form-common {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .form-common__label {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  .form-common__input-container {
    display: flex;
    flex-direction: column;
  }

  .form-common__input {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-ui-primary);
    padding: 4px 0;
  }
}

.form-buttons {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}
