<div>
  <div class="form-container">
    <h1 class="form-title form-title_margin-large">Sign In</h1>
    <form class="form-common" action="" method="post">
      {{#each formInputs}}
        {{{this}}}
      {{/each}}
    </form>

    <div class="form-buttons form-buttons_sign-in">
      {{#each buttons}}
        {{{this}}}
      {{/each}}
    </div>
  </div>
</div>
