<div class="modal-container {{#if isOpen}}modal--visible{{/if}}">
  <div class="modal-content modal-create-new-chat">
    <h2 class="modal-title">
     {{{title}}}

     {{{chatUsers}}}
    </h2>
    {{{chatNameInput}}}
    {{{buttonCreateNewChat}}}
  </div>
</div>
