<div class="chat-list-item__avatar-container 
{{#if sizeDefault}}chat-list-item__avatar-container--size-default{{/if}}
{{#if sizeSmall}}chat-list-item__avatar-container--size-small{{/if}}"
>
  <img
    class="chat-list-item__avatar 
    {{#if sizeDefault}}chat-list-item__avatar--size-default{{/if}}
    {{#if sizeSmall}}chat-list-item__avatar--size-small{{/if}}"
    src="/path-to-chat-image"
    alt="chat avatar"
    onerror="this.style.display='none'"
  />
</div>