.chat-list-item__avatar-container {
  background: var(--color-ui-placeholder);
  border-radius: 9999px;
  margin-right: 8px;
}

.chat-list-item__avatar-container--size-default {
  width: 48px;
  height: 48px;
}

.chat-list-item__avatar--size-default {
  width: 100%;
  height: 100%;
}

.chat-list-item__avatar-container--size-small {
  width: 32px;
  height: 32px;
}

.chat-list-item__avatar--size-small {
  width: 32px;
}

.chat-list-item__avatar {
  border-radius: 999px;
  object-fit: cover;
}
