.chat-container {
  display: flex;
  height: 100%;
}

.chat-messages-container {
  overflow: auto;
  margin-top: 8px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;

  .chat-messages__date-separator {
    align-self: center;
    margin: 48px 0 32px;
  }

  .chat-messages__date-text {
    font-size: 12px;
    color: var(--color-text-secondary);
  }
}

.chat-sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px;
  min-width: 300px;
  background: var(--color-ui-chat-sidebar-bg);
}

.chat-link-profile {
  align-self: flex-end;
  margin: 6px 0 24px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 12px;
  justify-content: end;
}

.chat-message--received {
  align-self: flex-start;
  background: var(--color-ui-bg-message-received);
}

.chat-message--sent {
  align-self: flex-end;
  background: var(--color-ui-bg-message-sent);
  min-width: 120px;
}

.chat-message {
  padding: 12px;
  border-radius: 12px;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  .chat-message__text {
    font-size: 12px;
    color: var(--color-text-primary);
  }

  .chat-message__timestamp {
    font-size: 9px;
    align-self: flex-end;
  }

  .chat-message__timestamp--received {
    color: var(--color-text-secondary);
  }

  .chat-message__timestamp--sent {
    color: var(--color-ui-primary);
  }
}

.chat-footer {
  border-top: 1px solid var(--color-ui-secondary);
  padding-top: 12px;
  margin-top: 32px;

  .send-message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .send-message-form__input {
    font-size: 12px;
    background: var(--color-ui-placeholder);
    padding: 10px 20px;
    border-radius: 9999px;
    width: 100%;
    margin-right: 12px;
  }

  .send-message-form__button-send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-ui-primary);
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 9999px;

    .menu-button-arrow {
      width: 16px;
      height: 16px;
    }
  }
}

.link-profile {
  display: flex;
  gap: 6px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-secondary);

  .link-profile__icon {
    width: 6px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--color-ui-placeholder);
  border-radius: 4px;
  padding-left: 8px;
  margin-bottom: 16px;

  .search-form__icon {
    width: 16px;
  }

  .search-form__input {
    font-size: 12px;
    background: transparent;
    padding: 8px;
    width: 100%;
  }
}

.chat-list-item {
  border-top: 1px solid var(--color-ui-secondary);
  padding: 2px 0;
  cursor: pointer;

  .chat-list-item-inner-content {
    display: flex;
    padding: 10px 8px;
  }

  .chat-list-item__last-message-preview {
    font-size: 12px;
    color: var(--color-text-secondary);
  }

  .chat-list-item__timestamp {
    font-size: 9px;
    color: var(--color-text-secondary);
  }

  .chat-list-item__metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;

    .chat-list-item__unread-messages-count {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      font-size: 11px;
      color: var(--color-text-snow);
      background: var(--color-ui-primary);
      border-radius: 9999px;
    }
  }
}

.chat-list-item--active {
  background: var(--color-ui-chat-active);
}

.chat-name {
  font-size: 13px;
}
