<div class="settings-container">
  <aside class="sidebar-back-button">
    {{{buttonBack}}}
  </aside>

  <main class="settings-main-content">
    <div class="settings-avatar">
      <label for="avatar-input" class="settings-avatar__label">
        <img
          class="settings-avatar__img"
          src="/avatar-placeholder.svg"
          alt="Avatar"
          onerror="this.onerror=null; this.src='/avatar-placeholder.svg';"
        />
      </label>
      <input
        class="settings-avatar__file-input"
        id="avatar-input"
        name="avatar"
        type="file"
        onchange="loadFile(event)"
      />
    </div>

    <p class="settings__username">Ivan</p>

    <form class="settings-form" action="" method="">
      {{#each formInputs}}
        {{{this}}}
      {{/each}}
    </form>

    <div class="settings-buttons">
      {{#each buttons}}
        {{{this}}}
      {{/each}}
    </div>
  </main>
</div>
