.settings-container {
  display: flex;
  min-height: 100vh;
}

.settings-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 56px auto;
}

.sidebar-back-button {
  background: var(--color-ui-placeholder);
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-ui-secondary);
}

.settings-avatar {
  background: var(--color-ui-placeholder);
  width: 128px;
  height: 128px;
  border-radius: 999px;

  .settings-avatar__label {
    cursor: pointer;
  }

  .settings-avatar__img {
    width: 100%;
  }

  .settings-avatar__file-input {
    display: none;
  }
}

.settings__username {
  margin-top: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 56px;
  font-size: 13px;
}

.settings-buttons {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
}

.separator-line {
  height: 1px;
  width: 100%;
  background: var(--color-ui-placeholder);
}

.button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-ui-primary);
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 9999px;

  .button-arrow__icon {
    width: 16px;
    height: 16px;
  }
}

.button-arrow--left {
  transform: rotate(180deg);
}

.settings-form__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid var(--color-ui-secondary);
  position: relative;
}

.settings-form__input {
  padding: 4px;
  text-align: right;
  color: var(--color-text-placeholder);
}

.button-setting {
  font-size: 13px;
}

.button-setting--primary {
  color: var(--color-ui-primary);
}

.button-setting--warning {
  color: var(--color-ui-warning);
}
