.settings-form__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid var(--color-ui-secondary);
}

.settings-form__input {
  padding: 4px;
  text-align: right;
  color: var(--color-text-placeholder);
}
