<div class="modal-container {{#if isOpen}}modal--visible{{/if}}">
  <div class="modal-content modal-upload-chat-avatar">
    <h2 class="modal-title">
      {{{title}}}
    </h2>

    {{{imageUpload}}}

    {{{buttonCreateNewChat}}}
  </div>
</div>
