<main class="main-page-content">
  <div class="main-page-content__container">
    <h1 class="main-page-content__title">Project pages:</h1>

    <nav>
      <ul class="main-page-content__links">
        {{#each buttonLinks}}
          <li>
            {{{Link text=this.text onClick=this.onClick to=this.to}}}
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
</main>
