.button {
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
}

.button--primary {
  color: var(--color-text-snow);
  background-color: var(--color-ui-primary);
}

.button--link-primary {
  color: var(--color-ui-primary);
}
