<div>
  <div class="form-container">
    <form class="form-common" action="" method="post">
      {{#each formInputs}}
        {{#FormInputContainer label=this.label for=this.id}}
          {{{FormInput
            propClass=../inputClass
            ref="forminput"
            type=this.type
            name=this.name
            id=this.id
            pattern=this.pattern
          }}}
          {{{FormInputError text=this.errorText for=this.id}}}
        {{/FormInputContainer}}
      {{/each}}
    </form>

    <div class="form-buttons form-buttons_sign-up">
      {{#each formButtons}}
        {{{ButtonCommon
          text=this.text
          propClass=this.class
          type=this.type
          onClick=this.onClick
        }}}
      {{/each}}
    </div>
  </div>
</div>
