<form class="search-form">
  <label class="search-form__label" for="search">
    <img class="search-form__icon" src="/icons/icon-search.svg" alt="search" />
  </label>

  <input
    type="search"
    autocomplete="off"
    class="search-form__input"
    id="search"
    name="search"
    placeholder="Поиск"
  />
</form>