<div class="chat-list-item-inner-content {{#if isSelected }}chat-list-item--active{{/if}}">
  {{{chatAvatar}}}
  <div class="chat-list-item__details">
    <p class="chat-name">{{title}}</p>
    <p class="chat-list-item__last-message-preview">{{last_message.content}}</p>
  </div>

  <div class="chat-list-item__metadata">
   
  </div>
</div>



