<header class="chat-header">
  <div class="chat-header__description">
    {{> Chat/components/ChatAvatar/ChatAvatar sizeSmall=true}}
    {{> Chat/components/ChatName/ChatName chatName="Chat name"}} 
  </div>

  <button class="chat-header__menu-button" type="button">
    <img class="" src="/icons/icon-three-dots.svg" alt="" />
  </button>
</header>