.chat-header {
  display: none;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-ui-secondary);
  margin-bottom: auto;

  .chat-header__description {
    display: flex;
    align-items: center;
  }
}

.chat-header--visible {
  display: flex;
}
