<header class="chat-header {{#if selectedChat}}chat-header--visible{{/if}}">
  {{#if selectedChat}}
    {{!-- <div class="chat-header__description">
        {{{chatAvatar}}}
        <p class="chat-name">Chat name</p>
      </div> --}}

    {{{buttonOpenChatMenu}}}

    {{{dropdownMenu}}}
  {{/if}}
</header>
