<div>
    <h1>SIGN IN</h1>
    {{!-- {{#Card}} --}}
        {{#FormLayout label=label}}
TEST
            {{{Button ref="button" type=type label=label onClick=this.onClick}}}

        {{/FormLayout}}

        {{!-- {{{FormLayout}}} --}}
    {{!-- {{/Card}} --}}
</div>
