<div class="settings-container">
  <aside class="sidebar-back-button">
    {{{buttonBack}}}
  </aside>

  <main class="settings-main-content">
    <form
      class="settings-form settings-form--change-password-page"
      action=""
      method=""
    >
      {{#each formInputs}}
        {{{this}}}
      {{/each}}
    </form>

    <div class="settings-buttons">
      {{{saveChangesButton}}}
    </div>
  </main>
</div>
