<form id="avatar-upload-form" class="avatar-upload-form">
  <p>Upload new avatar image:</p>
  <input
    id="avatar"
    type="file"
    name="avatar"
    accept="image/*"
    class="avatar-upload-form__submit-button"
  />
  <input
    type="submit"
    value="Upload"
    class="avatar-upload-form__submit-input"
  />
</form>
