.chat-header__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  transition: 200ms background;

  &:hover {
    background: var(--color-ui-secondary);
  }
}
