<main class="error-page-content">
  <h1 class="error-page__title">{{errorCode}}</h1>
  <h2 class="error-page__subtitle">{{errorText}}</h2>
  {{{ButtonCommon
    text=this.buttonGoBack.text
    type=this.buttonGoBack.type
    propClass=this.buttonGoBack.propClass
    onClick=this.buttonGoBack.onClick
  }}}
</main>
