.modal-container {
  position: absolute;
  inset: 0;
  background: var(--color-ui-modal-overlay);
  display: none;
}

.modal--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-ui-snow);
}

.modal-title {
  align-self: center;
}
