<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>

  <body>
    <div class="default-layout-container">
      {{> @partial-block}}
    </div>

    {{#if pageScript}}
      <script type="module" src={{pageScript}}></script>
    {{/if}}
  </body>
</html>