<div class="chat-messages-container">
  {{#if selectedChat}}
    <div class="chat-messages" id="chat-messages">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>

  {{else}}
    Выберите чат
  {{/if}}
</div>
