<div class="chat-messages-container" id="chat-messages-container">
  {{#if selectedChat}}
    <div class="chat-messages">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>

  {{else}}
    <p class="chat-messages__choose-chat-text">
      Выберите чат
    </p>
  {{/if}}
</div>
