<div class="chat-messages-container">
  {{#if selectedChat}}
    <div class="chat-messages">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>

    <footer class="chat-footer">
      <div class="send-message-form">
        {{{sendMessageInput}}}

        {{{buttonSendMessage}}}
      </div>
    </footer>
  {{else}}
    Выберите чат
  {{/if}}
</div>
