<div class="chat-messages-container">
  {{#if selectedChat}}
    <div class="chat-messages">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>

    {{!-- <div class="chat-footer">
     
    </div> --}}
  {{else}}
    Выберите чат
  {{/if}}
</div>
