<div class="modal-container {{#if isOpen}}modal--visible{{/if}}">
    {{!-- <div class="modal-content"> --}}

  {{{modalCreateNewChatContent}}}
      {{!-- modal content --}}
    {{!-- </div> --}}
</div>
